$primary: #4B597B;
$white: #ffffff;
$borderLeft: 1px solid rgba(75, 89, 123, 0.3);
$primaryGradient: linear-gradient(0deg, #7176F7 0%, #CA75F1 100%);
$acceptGradient: linear-gradient(0deg, #27E7E7 0%, #F4FF51 100%);
$acceptGradientHover: linear-gradient(0deg, #2AE7E7 0%, #93F4A7 100%);
$declineGradient: linear-gradient(180deg, #F978A2 0%, #F1435B 100%);
$declineGradientHover: linear-gradient(0deg, #A63447 0%, #F87197 100%);